body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.inputText{
    border-radius: 4px;
    width: 95%;
    height: 24px;
}
.buttonAdd{
    height: 30px;
    width: 100%;
}
table{
    width: 400px;
}
.buttonDelete{
    float: right;
    width: 26px;
    height: 26px;
    border: none;
    margin-left: 2px;
    background-color: darkslategray;
    /*background-image: url("../public/close.png");*/
    background-size: 26px;
    background-repeat: no-repeat;
}
.buttonDelete:hover{
    border: none;
    cursor: pointer;
}
.check{
    float: left;
}
h5{
    margin: 0;
}
#root{
    width: 400px;
}

.taskList{
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
table{
    border: 2px solid grey;
}
.cross{
    text-decoration:line-through;
}
.notCross{
    text-decoration: none;
}
.info{
    width: 100%;
}

.width{
    width: 400px;
    padding: 0;
}
